<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363812356642-nvj24vd8dn4d1jfgsi25nc3254ig675j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363812356642-nvj24vd8dn4d1jfgsi25nc3254ig675j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>363812356642-da40clmovieokrcs0gns0n0j4nt4gosh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBG3L6-EkRD_W3Z082S3pBNU_IbF8Gb0xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>363812356642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreykey.construct</string>
	<key>PROJECT_ID</key>
	<string>construct-fdfc9</string>
	<key>STORAGE_BUCKET</key>
	<string>construct-fdfc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363812356642:ios:19c33425d24f1fd737c07b</string>
	<key>DATABASE_URL</key>
	<string>https://construct-fdfc9.firebaseio.com</string>
</dict>
</plist>